.main_search {
	display: flex;
	align-items: center;
	gap: 12px;
	padding-bottom: 12px;
	overflow: auto;

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #f8f8f8;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #ccc;
	}
}

.search {
	min-width: 320px;
}

.filter {
	min-width: 100px;
}
